<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <div class="container pt-5 shadow-sm" style="max-width: 600px; background: #fff; min-height: 100vh">
      <div class="container" style="max-width: 450px">
        <!-- login -->
        <div class="container" style="height: auto" id="loginContainer">
          <h1 class="text-center" style="margin-top: 50%">Chatto</h1>
          <p class="text-center" style="color: #333; margin-top: -10px">Broadcast realtime chat</p>
          <form id="loginForm">
              <div class="container" style="width: 300px">
            <input id="usn" type="text" placeholder="Enter your name..." required style="margin: auto; display: block">
            <p id="name-empty">name cant be empty bro!<span style="color: #ED4245">*</span></p>
            <input id="loginBTN" type="submit" class="bg-dark" value="Join Main Room" style="margin: auto; display: block; margin-top: 10px;" /></div>
          </form>
        </div>
        <!-- chat -->
        <div id="chatContainer" class="container mt-4" style="height: auto">
          <h3 class="text-center"><%= chatroomTitle %></h3>
          <form id="chatForm">
            <div id="messagesList" class="border" style="overflow-x: auto; background: #f7f7f7">
              <p class="promosi text-center">developed by me <a href="instagram.com/zidanaupal">@zidanaupal</a></p>
              <p class="joinedAlert text-center">You Joined the room</p>
            </div>
            <div class="d-flex justify-content-between">
              <input id="message" type="text" class="mt-2" autocomplete="off" placeholder="Type a message..." maxlength="25" />
              <div id="limitText" class="mt-2" style="margin: auto; display: block"><a>0</a></div>
              <button id="SendMSG" type="submit" class="bg-dark mt-2" style="margin: auto; display: block"><i class="bi bi-send-fill"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
    </style>
    <style>
      * {
        font-family: "Poppins", sans-serif;
      }
      body {
        background-image: url("views/img/doodles.png");
        background-color: #f7f7f7;
      }
      #loginBTN {
        outline: none;
        border-radius: 10px;
        border: none;
        color: #fff;
        padding: 10px;
        transition: 0.25s;
        width: 300px;
        margin-top: 20px;
      }
      #loginBTN:hover {
        transform: scale(0.9);
      }
      #usn {
        background: #F5F8FE;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        width: 300px;
      }
      #name-empty {
        font-size: 15px;
        display: none;
      }
      #chatContainer {
        display: none;
        background-image: url("img/doodles.png");
        background-repeat: repeat;
      }
      .joinedAlert, .promosi {
        background: #ebf8a4;
        max-width: 360px;
        display: block;
        margin: auto;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .myMSG {
        text-align: left;
        font-size: 18px;
        padding: 8px 16px;
        background: #333333;
        color: #fff;
        border-radius: 50px 50px 50px 0px;
        margin-bottom: -10px;
        max-width: 400px;
      }
      .theyMSG {
        text-align: left;
        font-size: 18px;
        padding: 8px 16px;
        background: #fff;
        color: #000;
        border-radius: 50px 50px 50px 0px;
        margin-top: 10px;
      }
      .popupMYMSG {
        padding: 0px 10px;
        background: #f7f7f7;
      }
      .theyPopup {
        padding: 10px;
        margin-top: -10px;
        background: #f7f7f7;
      }
      .sender {
        margin-top: 10px;
      }
      #message {
        padding-left: 10px;
        width: 100%;
        outline: none;
        border: 1px solid #dee2e6;
        border-radius: 5px 0px 0px 5px;
        border-right: none;
      }
      #messagesList {
        height: 400px;
      }
      #SendMSG,
      #limitText {
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 0px 5px 5px 0px;
      }
      #limitText {
        border-radius: 0px;
        background: #fff;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        cursor: default;
      }
      #limitText a {
        font-size: 14px;
        background: #fff;
        color: #007acc;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const chatContainer = document.getElementById("chatContainer");
      const loginContainer = document.getElementById("loginContainer");
      const message = document.getElementById("message");
      const SendMSG = document.getElementById("SendMSG");
      const messagesList = document.getElementById("messagesList");

      const usnInput = document.getElementById("usn");

      loginBTN.addEventListener("click", (e) => {
        e.preventDefault();
        if (usnInput.value === "") {
        document.getElementById("usn").style.border = "2px solid #ED4245";
        document.getElementById("name-empty").style.display = "block";
          
      } else {
           chatContainer.style.display = "block";
        loginContainer.style.display = "none";
        const data = {
          //  change id
          // diganti
          userID: usn.value,
          message: message.value,
        };
        socket.emit("userJoined", data);
      }
       

        socket.on("userJoined", (userID, message) => {
          let theyJoined = document.createElement("p");
          theyJoined.classList.add("joinedAlert");
          theyJoined.classList.add("text-center");
          theyJoined.textContent = `${userID}` + " Joined the room";
          messagesList.appendChild(theyJoined);
        });
      });

      // limit input message
      var messageInput = document.getElementById("message");
      var limitText = document.querySelector("#limitText a");

      messageInput.addEventListener("input", function () {
        var textLength = messageInput.value.length;
        limitText.textContent = textLength;

        if (textLength == 25) {
          limitText.style.color = "red";
        } else {
          limitText.style.color = "#007acc";
        }
      });

      SendMSG.addEventListener("click", (e) => {
        e.preventDefault();
        if (message.value) {
          const data = {
            //  change id
            // diganti
            id: usn.value,
            message: message.value,
          };
          // message
          socket.emit("message", data);
          var MSGLIST = document.getElementById("messagesList");
          MSGLIST.scrollBy(0, 500);
          //   create message element
          let chatList = document.createElement("span");
          let popupMYMSG = document.createElement("div");
          let Me = document.createElement("p");
          chatList.classList.add("myMSG");
          chatList.classList.add("shadow-sm");
          popupMYMSG.classList.add("popupMYMSG");
          Me.classList.add("sender");
          chatList.textContent = message.value;
          Me.textContent = "You";
          // Me.textContent = "You" + `${id}`;
          messagesList.appendChild(popupMYMSG);
          popupMYMSG.appendChild(chatList);
          popupMYMSG.appendChild(Me);
          // message sended
          message.value = "";
          limitText.style.color = "#007acc";
          textLength = 0;
          limitText.textContent = textLength;
        }
      });

      socket.on("message", (id, message) => {
        let usernickname = document.createElement("p");
        let broadcast = document.createElement("span");
        let theyPopup = document.createElement("div");
        usernickname.classList.add("usernickname");
        usernickname.classList.add("sender");
        broadcast.classList.add("theyMSG");
        broadcast.classList.add("shadow-sm");
        theyPopup.classList.add("theyPopup");
        usernickname.textContent = "From: " + `${id}`;
        broadcast.textContent = `${message}`;
        messagesList.appendChild(theyPopup);
        theyPopup.appendChild(broadcast);
        theyPopup.appendChild(usernickname);
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
